# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/
!default.xcworkspace/
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
/.build/
/Packages/

# CocoaPods
/Pods/
/*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code coverage
*.profdata
*.gcda
*.gcno

# Misc
*.orig
*.log
.DS_Store
*.DS_Store
**/.DS_Store
